/*
/* Off Canvas jQuery Plugin
/*
/* Provides functionality to hide and show navigation which is UX friendly for small
/* and mobile screen sizes.
/*
/* Public plugin, please use for any project.
/*
/* @author Richard McCartney <richard.mccartney@me.com / twitter - @Rich_McCartney>
/*
/* ------------------------------------------------------------ */

* {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	height: auto;
	min-height: 100%;
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	height: auto;
	height: 100%;
	min-height: 100%;
	color: #333;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
}

a {
	text-decoration: underline;
}

a:hover {
	color: orange;
}

p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #333;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2 {
	font: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 12px;
}

/* Images set to 100% width */

img {
	float: left;
	padding-bottom: 20px;
	width: 100%;
}

/* Off Canvas Styles */

.outer-wrap {
	position: relative;
	z-index: 0;
	float: left;
	width: 100%;
	height: 100%;
	background: #333;
}

.inner-wrap {
	position: relative;
	z-index: 1000;
	float: left;
	width: 100%;
	height: 100%;
	background: #FFF;
}

.mobile-animate {
	-webkit-transition:all 0.25s;
	-moz-transition:all 0.25s;
	-o-transition:all 0.25s;
	-ms-transition:all 0.25s;
	transition:all 0.25s;
}

.header {
	position: relative;
	margin-bottom: 40px;
	padding: 40px 0;
	height: 51px;
	background: #333;
}

.logo {
	border: none;
	color: #FFF;
	text-indent: 20px;
}

.reveal, .hide {
	display: none;
}

.navigation {
	display: block;
}

.navigation ul {
	float: left;
	padding-top: 13px;
	width: 100%;
	list-style: none;
}

.navigation li {
	float: left;
	margin-right: 5%;
}

.navigation a {
	color: #EEE;
}

.ui-loader {
	display: none;
}

/* Mobile Styles for 768px breakpoint */
@media screen and (max-width: 768px) {

	/* Add your own styles here */

	.container {
		z-index: 1;
	}

	.outer-wrap {
		position: relative;
	}

	.inner-wrap {
		-webkit-box-shadow: 1px 0 60px rgba(000,000,000,0.7);
		-moz-box-shadow: 1px 0 60px rgba(000,000,000,0.7);
		box-shadow: 1px 0 60px rgba(000,000,000,0.7);
	}

	.header {
		z-index: 0;
	}

	.logo {
		text-align: center;
	}

	.hide {
		position: fixed;
		top: 0;
		z-index: -1;
		display: block;
		margin: 49px 20px 40px;
		width: 20px;
		height: 20px;
		background: url(../images/close.png) no-repeat;
		background-size: 20px 20px;
		text-indent: -999em;
	}

	.reveal {
		position: absolute;
		top: 45%;
		left: 40px;
		z-index: 1000;
		display: block;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		background: url(../images/navigation.png) no-repeat;
		background-size: 20px 20px;
		text-indent: -999em;
	}

	.mobile-animate .hide,
	.mobile-animate .reveal {
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
	}

	.navigation {
		position: fixed;
		left: 0;
		z-index: -1;
		display: none;
		float: left;
		width: 100px;
	}

	.navigation ul {
		position: fixed;
		z-index: -1;
		margin-top: 40px;
		width: 100%;
	}

	.navigation li {
		margin-left: 20px;
		padding-bottom: 15px;
		width: 100%;
	}

	/* No JS styles */

	.no-js .header {
		height: 240px;
	}

	.no-js .navigation {
		display: block;
		position: relative;
		z-index: 0;
		width: 100%;
	}

	.no-js .navigation ul {
		position: relative;
		z-index: 0;
		margin-top: 0;
		text-align: center;
		width: 100%;
	}

	.no-js .navigation li {
		margin-left: 0;
	}

	.no-js .hide,
	.no-js .reveal {
		display: none;
	}
}

/* Retina images */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.hide {
		background-image: url(../images/close@2x.png);
	}

	.reveal {
		background-image: url(../images/navigation@2x.png);
	}
}